


/* HEADER */

/* NAV */

.ms-bg-dark-blue{
    background-color: #2C3E50;
}

.navbar-toggler {
    border: var(--bs-border-width) solid white;
  
}

.navbar-collapse{
    flex-grow: 0;
}

/* NAV */

.avatar > img{
    width: 300px;
}

.bg-aqua-green{
    background-color: #1ABC9C;
}

.ms-fs-big{
    font-size: 2.5rem;
}

.ms-divisor{
    height: 3px;
    background-color: white;
    width: 50px;
}
/* HEADER */

/* MAIN */

/* SECTION-1 */

.ms-card > img{
    width: 100%;
}

.ms-divisor-dark{
    height: 3px;
    background-color: #2C3E50;
    width: 50px;
}

.ms-text-dark{
    color: #2C3E50;
}

/* SECTION-2 */

.fa-download{
    margin-right: 0.5rem;
}

.ms-container-60{
    width: 60%;
    margin: auto;
}

/* SECTION-3 */

.ms-btn-success {
    background-color: #1ABC9C;
    color: white;
}

/* MAIN */

/* FOOTER */

.ms-bg-dark-blue-2{
    background-color: #3A546D;
    color: white;
}