


/* HEADER */

/* NAV */

.ms-bg-dark-blue{
    background-color: #2C3E50;
}

.navbar-toggler {
    border: var(--bs-border-width) solid white;
  
}

.navbar-collapse{
    flex-grow: 0;
}

/* NAV */

.avatar > img{
    width: 300px;
}

.bg-aqua-green{
    background-color: #1ABC9C;
}

.ms-fs-big{
    font-size: 2.5rem;
}

.ms-divisor{
    height: 3px;
    background-color: white;
    width: 50px;
}
/* HEADER */

/* MAIN */

/* SECTION-1 */

/* MAIN */